@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Quicksand;
    color: black;
    box-sizing: border-box;

}

/*Navigation styling started*/

h1 {
    font-family: 'Great Vibes';
    letter-spacing: 0.3125em;
    color: white;
}

/*Navigation container*/
#navbar {
    border-bottom: 0.125em solid black;
    background-color: #b58e62;
    overflow: hidden;
    width: 100%;
    line-height: 3rem;
}

/*Logo*/
#logo {
    float: left;
    font-size: 150%;
    text-decoration: none;
    padding: 0.625rem 0.625rem;
}

/*Navigation Listing container*/
#navigation {
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 1px;
    width: 100%;
}

/*Navigation listing*/
#navigation li {
    float: right;
    margin-right: 0.6rem;

}

/*Internal Navigation links*/
#navigation a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.6rem 0.6rem;
}

/*background and text colour changes when hovered over*/
#navigation a:hover {
    background-color: #c6a785;
    color: black;
}

/*Active button will have a lighter colour*/
.active {
    background-color: #c6a785;
    color: black;
}


/*Navigation styling ended*/

/*Index-page styling starts here*/

/*slide show container*/
/*reference- Hyde.design:create a mini css slideshow, used it as inspiration to create slideshow*/

.slide-show {
    width: 100%;
    height: 25.5rem;
    overflow: hidden;
    position: relative;
}

/*slide show image styling*/
.slide-show img {
    position: absolute;
    animation: slide-show 20s infinite;
    opacity: 0;
    width: 100%;
    height: inherit;
    object-fit: cover;
}

/*Slide-show animation, */
@keyframes slide-show {
    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.slide-show img:nth-child(4) {
    animation-delay: 0s;
}

.slide-show img:nth-child(3) {
    animation-delay: 5s;
}

.slide-show img:nth-child(2) {
    animation-delay: 10s;
}

.slide-show img:nth-child(1) {
    animation-delay: 15s;
}



/*Slide show ends here*/
#about-content {
    width: 10%;
}

.pictures {
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    text-align: center;
}

.pictures img {
    width: 98%;
    height: 500px;
    border: 1px solid #b58e62;
    object-fit: cover;
    margin: 1px;
    padding: 1px;
}

.titles {
    text-align: center;
    color: #b58e62;
    letter-spacing: 5px;
    font-family: 'Great Vibes';
    padding: 1rem 1rem;
}

.background {
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background h3 {
    font-size: 130%;
    font-weight: 400;
}

.background h2 {
    font-size: 300%;
    padding: 6.4px 0;
    letter-spacing: 5px;
}

.line div {
    margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
    height: 3px;
    width: 100px;
    background: #b58e62;
    border-radius: 5px;
}

.line {
    display: flex;
    align-items: center;
}

.line div:nth-child(2) {
    width: 10px;
    height: 10px;
    background: #b58e62;
    border-radius: 50%;
}

.text {
    font-weight: 300;
    opacity: 0.9;
}

.background .text {
    margin: 1.9rem 0;
}

.contact-body {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

.contact-info {
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}

.contact-info span {
    display: block;
}

.contact-info div {
    margin: 1.5rem 0;
    padding: 1rem;

}

.contact-info span .fas {
    font-size: 200%;
    padding-bottom: 0.9rem;
    color: #b58e62;
}

.contact-info div span:nth-child(2) {
    font-weight: 500;
    font-size: 110%;
}

.contact-info .text {
    padding-top: 0.4rem;
}

/* Contact form and Opening Hours */

.contact-form-and-opening-hours {
    padding: 2rem 2rem;
    border-top: 1px solid #b58e62;
}

.contact-form form {
    /*padding-bottom: 1rem;
    overflow: hidden;*/
    width: 90%;
}

.form-control {
    width: 100%;
    border: 1.5px solid #b58e62;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    outline: 0;
}

.form-control:focus {
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

.contact-form form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.7rem;
}

.send-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #b58e62;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.send-btn:hover {
    opacity: 0.8;
}

/*.contact-form>div {
    margin: 0 auto;
    text-align: center;
}*/

.opening-hours-table {
    text-align: left;
    border: 2px solid #b58e62;
    width: 100%;
    max-height: 100%;
    /*position: relative;*/
    top: 20px;
}

.opening-hours-body {
    width: 100%;
    height: 100%;
    align-items: center;
}

/* Contact Info */

@media screen and (min-width: 768px) {
    .background .text {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    .background .text {
        width: 50%;
    }

    .contact-form-and-opening-hours {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .contact-info {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .contact-form-and-opening-hours {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

/* Map */
.map-wrapper {
    margin: 0 auto;
    margin: 2rem 2rem;
}

.map-body {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.map-body iframe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

/* Footer */

.contact-footer {
    padding: 2rem 0;
    background: #b58e62;
}

.contact-footer h3 {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}

.social-links a:hover {
    color: #c6a785;
    border-color: #c6a785;
}

/* Abous us*/

.about-us-body {
    /*max-width: 1320px;*/
    margin: 0 auto;
    padding: 0 1rem;
}

.about-us {
    margin: 1rem 0;
    text-align: left;
    padding: 1rem 0;
}

.about-us span {
    display: block;
}

.about-us img {
    width: 70%;
    height: 70%;
}

.about-us div {
    margin: 1.5rem 0;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .about-us-body .text {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .about-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .about-us {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Reviews*/

.reviews-body {
    display: grid;
    gap: 1.5rem;
    padding-block: 2rem;
    width: min(95%, 500rem);
    margin-inline: auto;
}

.reviews-container {
    padding: 20px;
    margin: 1.5px;
    padding: 20px;
    border: 1.5px solid #b58e62;
    border-radius: 5px;
    /*width: 500px;
    background-color: #b58e62;
    box-shadow:2px 2px 30ox rgba(0,0,0,0.1)*/
}

.reviews-container-big {
    padding: 20px;
    margin: 1.5px;
    padding: 20px;
    border: 1.5px solid #b58e62;
    border-radius: 5px;
    /*width: 500px;
    background-color: #b58e62;
    box-shadow:2px 2px 30ox rgba(0,0,0,0.1)*/
}

.reviews-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 10px;
}

.reviews-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: center;
}

.customer {
    display: flex;
    flex-direction: column;
}

.customer h1 {
    color: black;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.customer span {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.rating {
    color: #b58e62;
}

.reviews-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comments p {
    font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
    .reviews-body {
        grid-template-columns: repeat(4, 1fr);
    }

    .reviews-container:last-child {
        grid-column-start: 4;
        grid-row: 1 / span 2;
    }

    .reviews-container-big {
        grid-column: span 2;
    }
}

/* Meet our Bakers */

.meet-our-bakers-wrapper {
    /*max-width: 1320px;*/
    margin: 0 auto;
    padding: 0 1rem;
}

.meet-our-bakers-body {
    margin: 1rem 0;
    text-align: left;
    padding: 1rem 0;
}

.meet-our-bakers-video-container {
    margin: 0 auto;
    margin: 1.5rem 0;
    padding: 1rem;
    /*width: 50%;*/
}

.meet-our-bakers-video-body {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.meet-our-bakers-video-container iframe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.meet-our-bakers-text {
    margin: 1.5rem 0;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .meet-our-bakers-wrapper .text {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .meet-our-bakers-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .meet-our-bakers-body {
        grid-template-columns: repeat(2, 1fr);
    }
}